* {
    box-sizing: border-box;
}

:root {
    --header-bg: #fff;
    --primary: #EF233C;
    --text-desc: #868E96;
    --text-primary: #212529;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Krub", serif;
}

.line {
    width: 100%;
    height: 6px;
    background: var(--primary);
}
/* comon */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* header */
.header {
    background: var(--header-bg);
    min-height: 168px;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem;
}
.header__top-title {
    font-size: 1.4rem;
    font-weight: bold;
}
.header__top-lang {
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
}
.header__top-lang--vn {
    margin-right: 6px;
}
.header__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 88px;
    padding: 0 0.9rem;
}
.logo>img{
    width: 238px;
}
.search__form-wrapper {
    width: 460px;
    height: 50px;
    margin-left: 80px;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--text-desc);
    border-radius: 8px;
}
.search-form:focus-within {
    border: 1px solid var(--primary);
}
.search {
    width: 100%;
    height: 48px;
    outline: none;
    border: none;
    border-radius: 8px;
    padding-left: 0.9rem;
}
.search::placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-desc);
}
.search-icon {
    border: none;
    background: var(--header-bg);
    width: 18px;
    height: 18px;
    margin: 0 1.6rem;
}
.header__center-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.account {
    display: flex;
    margin-left: 10px;
}
.account__text {
    display: block;
    margin-right: 0.6rem;
}
.account__text-title {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.6rem;
}
.account__text-desc {
    font-size: 1.2rem;
}


.heart {
    font-size: 2rem;
    height: 4.2rem;
    margin: 0 10px;
    display: flex;
    align-item:center;
}
.heart-icon {
    font-size: 3rem;
}
.heart-item {
    position: relative;
    margin-right: 16px;
    margin-top: 5px;
} 

.cart {
    display: flex;
}
.cart-item {
    position: relative;
    margin-right: 16px;
}
.cart-icon {
    font-size: 3rem;
}
.quantity {
    position: absolute;
    background: var(--primary);
    width: 2.5rem;
    height: 2.5rem;
    color: var(--header-bg);
    text-align: center;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: -12px;
    right: -12px;
}
.cart__desc {
    font-size: 1.2rem;
    align-items: center;
}
.cart__desc-quantity {
    margin-bottom: 6px;
}
.cart__desc-total {
    font-weight: 600;
}

.header__bottom {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0 9px;
}
.header__menu {
    height: 48px;
}
.header__menu-category {
    width: 282px;
    height: 48px;
    background: var(--primary);
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: var(--header-bg);
    font-size: 1.6rem;
    font-weight: 500;
}
.header__menu-icon {
    padding: 6px;
    height: 35px;
}
.header__list {
    display: block;
    list-style: none;
    width: 282px;
    height: 440px;
    border: 1px solid var(--text-desc);
    border-top: none;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    font-size: 1.3rem;
    font-weight: 500;
    box-shadow: 1px 2px 5px rgba(134, 142, 150, 0.12);
    transition: 0.25s;
}
.header__list.active {
    display: none;
}
.list-item {
    color: var(--text-primary);
    margin-bottom: 24px;
    transition: 0.25s;
}
.list-item:hover {
    color: var(--primary);
}
/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    margin-left: 52px;
}
.nav-item {
    padding: 10px;
    margin-right: 30px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--text-primary);
    transition: 0.25s;
}
.nav-end {
    margin-right: 0;  
    margin-left: 70px;
    color: var(--primary);
}
.nav-item:hover {
    color: var(--primary);
}
.header__banner {
    width: 100%;
}

/* banner */
.section-banner {
    margin-top: 15px;
    display: flex;
    justify-content: end;
}
.banner {
    display: flex;
    justify-content: end;
}
.section-banner__img {
    /* padding: 18px 0 0 18px; */
}
.section-banner__img>img {
    width: 816px;
    min-height: 424px;
}